@import-normalize;
@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

////////// reset styles start
* {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    outline: none;
    padding: 0;
    margin: 0;
}
code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
    white-space: normal;
    font-size: 1em;
    font: inherit;
}
dfn,
i,
cite,
var,
address,
em {
    font-style: normal;
}
th,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th,
td,
center {
    vertical-align: top;
    text-align: left;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
q {
    quotes: "" "";
}
ul,
ol,
dir,
menu {
    list-style: none;
}
sub,
sup {
    vertical-align: baseline;
}
a {
    color: inherit;
}
font {
    color: inherit !important;
    font: inherit !important;
}
button {
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
//////////
////////// reset styles end
//////////

.app {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    font-family: "Fira Code", monospace;
    height: 100vh;
    font-size: 30px;

    @media (max-width: 424px) {
        font-size: 24px;
    }

    background-color: var(--grey);
    color: var(--black);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
