:root {
    --black: #1b1b19;
    --black-light: #6e6e6a;
    --grey: #f1f1f1;
    --blue: #2196f3;
    --red: tomato;
    --green: #339426;
    --yellow: rgb(211, 179, 0);

    --pretty-shadow: rgba(99, 99, 99, 0.25) 0px 2px 12px 0px;
    --pretty-shadow-hover: rgba(99, 99, 99, 0.18) 0px 7px 16px 0px;
}
